.page {
    background-color: #e2ecee;
    min-height: 100vh;
    display: flex;
    flex-direction: column;
    padding: 120px 20px 20px 20px;
 
    .page-inner {
        height: 100%;
        border-radius: 15px;
        background-color: #fff;
        flex-direction: column;
        display: flex;
        height: 100%;
        flex: 1;

        .product-details {
            display: flex;
            height: 100%;
            flex-direction: row;

            .image {
                width: 50%;
                display: flex;
                justify-content: center;
                position: relative;

                &::before {
                    content: "";
                    position: absolute;
                    width: 400px;
                    height: 400px;
                    border-radius: 50%;
                    background-color: rgba(57, 159, 206, 0.095);
                    left: 50%;
                    margin-left: -200px;
                    top: 50%;
                    margin-top: -200px;
                }

                img {
                    width: 80%;
                    position: relative;
                }
            }

            .content {
                width: 50%;
                padding-top: 50px;

                .title {
                    font-size: 40px;
                    font-family: 'Dosis';
                    font-weight: 700;
                    text-transform: uppercase;
                }

                .category {
                    font-size: 20px;
                }

                .price {
                    font-size: 40px;
                    font-weight: 700;
                }

                .description {
                    font-size: 15px;
                }

                .colors {
                    display: flex;
                    align-items: center;
                }
            }
        }
    }
}

.label {
    margin: 0;
    padding: 0;
    margin-right: 10px;
    font-size: 16px;
    text-transform: uppercase;
    font-weight: 700;
}

.color {
    width: 35px;
    height: 35px;
    border-radius: 50%;
    margin-left: 10px;

    &.bg-red {
        background-color: red;
    }

    &.bg-blue {
        background-color: blue;
    }

    &.bg-green {
        background-color: green;
    }

    &.bg-black {
        background-color: black;
    }
}

.actions {
    button {
        border: none;
        outline: none;
        text-transform: uppercase;
        font-weight: 700;
        padding: 10px 20px;
        background-color: #000;
        color: #fff;
        border-radius: 30px;
    }
}