.category-page {
    // border: thin dashed red;

    .section-inner {
        // border: thin dashed red;
    }

    .category-page-title p {
        margin-top: 20px;
        text-align: center;
        color: rgb(61, 69, 81);
        font-size: 5vh;
        font-family: 'Dosis';
        font-weight: 700;
    }
}